body {
	padding: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	.App {
		font-size: 1.6rem;
		max-width: 600px;
		h1 {
			font-size: 2.5rem;
			color: rgb(107, 82, 27);
			font-weight: bold;
			margin: 0 0 20px 0;
		}
		h2 {
			font-size: 2rem;
			color: #888;
			font-weight: bold;
			margin: 10px 0;
			background-color: #eee;
			padding: 5px;
		}
		a {
			color: navy; 
		}
		p {
			margin: 0 0 10px 0;
		}
		h1:not(:first-of-type) {
			margin-top: 20px;
		}
		ul {
			list-style-type: disc;
			margin: 0 0 10px 30px;
		}
		.content {
			background-color: rgb(210, 235, 208);
			margin: 5px 0 0 0;
			padding: 20px;
			border-radius: 5px;
		}
		.onlineVersion {
			margin: 20px 0 0 0;
		}
		nav {
			background-color: rgb(6, 66, 29);
			border-radius: 5px;
			padding: 10px;
			ul {
				display: flex;
				margin: 0;
				li {
					list-style: none;
					margin: 0 10px 0 0;
					a {
						color: #ccc;
						text-decoration: none;
					}
					.active {
						color: rgb(255, 255, 161);
					}
				}
			}
		}
		.highlight {
			color: brown;
		}

		// Component: PageLoader
		.spinner {
			font-size: 2.4rem;
			color: #444;
			animation: spin infinite 2s linear;
		}
		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		// STYLED-COMPONENTS
		.infoBox {
			ul {
				margin: 10px 0 5px 30px;
			}
		}
	}
}